<% unless notice.nil? %>
    <p style="color: green"><%= notice %></p>
<% end %>

<%= tag.p "Welcome #{@user.name}" %>

<!--the fuck is this content_for-->
<% content_for :title, "Events" %>

<h1>Events</h1>
<p>There are currently <%= @events.count %> active event posts.</p>

<div id="events">
<!--    If there is no date, does that go after the earliest event or latest event-->
    <% sorted_events_by_date = @events.sort_by { |event| event.date.present? ? Time.parse(event.date) : Time.at(Float::MAX) } %>
    <% sorted_events_by_date.each do |event| %>
        <%= link_to event, style: "text-decoration: none; color: inherit; display: block;" do %>
            <%= render event %>
        <% end %>
        <p>
            <%= link_to "Show this event", event, class: "button" %>
        </p>
    <% end %>
</div>

<%#= link_to "New event", new_event_path %>
